/* en vrac :
100% 100% 100% 0 auto border-box box-sizing 
display height flex flex none margin 
max-width width width
*/ 
* {box-sizing: border-box;}

body {
    background-color: black;
    color: rgb(216,255,137);
    font-family: 'Courier New', Courier, monospace;
}
div::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  
}
div::-webkit-scrollbar-thumb {
    background: rgb(216,255,137);
    border-radius: 15px;
}
a {
    color: rgb(216,255,137);
    text-decoration: none;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
}

a:hover {
    color: black;
    background-color: rgb(216,255,137);
    text-decoration: underline;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
img {
height: 100%;
max-width: auto;
}
.carrousel_parent-ecrans {
display: flex;
width: 100%;
overflow-x: scroll;
scroll-behavior: smooth;
scroll-snap-type: mandatory;
    
}
.carrousel_ecran {
width: 100%;
scroll-snap-align: start;
}
.carrousel_ecran figure {
margin:none;
scroll-snap-align: start;
}
La page doit maintenant avoir les écrans à l'horizontal et un ascenseurs de même.
    
.carrousel {position: relative;}
.carrousel_btn {
position: absolute;
top: 50%;
top: calc(
min(500px, 100vw) / 16 * 9 / 2 + 1rem
); /* centre verticalement ~50% vertical */
transform: translateY(-50%); /* methode du point mort */
width: 2rem;
height: 2rem;
background: rgba(0,0,0,0.5);
border-radius: 50%;
display: grid;
place-content: center;
color: #fff;
}
.carrousel_btn:hover {
    background: rgb(216,255,137);
    color: black;
    border-color: black;
}
    
.carrousel_btn-avant {
left: 0;
color: rgb(216,255,137);
border-color: rgb(216,255,137);
}
    
.carrousel_btn-apres {
right: 0;
color: rgb(216,255,137);
border-color: rgb(216,255,137);
}