* {
box-sizing: border-box;
}  
body {
background: rgb(45, 45, 45);
color: rgb(216, 255, 137);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
overflow: auto;
}
div::-webkit-scrollbar {
width: 2px;
height: 9px;  
}
div::-webkit-scrollbar-thumb {
background: rgb(216, 255, 137);
border-radius: 20px;
}
img {
max-width: 100%;
height: auto;
display: block;
margin-left: auto;
margin-right:auto;  
}  
.carrousel_parent-ecrans {
display: flex;
width: 100%;
gap: 1rem;
overflow-x: scroll;
scroll-behavior: smooth;
scroll-snap-type: x mandatory; 
}  
.carrousel_ecran {
width: 100%;
flex: none;
scroll-snap-align: start;    
}  
.carrousel_ecran figure {
margin: 0;  
} 
.carrousel {
position: relative;  
}  
.carrousel_btn {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 2rem;
height: 2rem;
background: black;
border-radius: 50%;
border-color: rgb(216, 255, 137);
display: grid;
place-content: center;
color: rgb(216, 255, 137);
}  
.carrousel_btn:hover {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 2rem;
height: 2rem;
background: rgb(216, 255, 137);
border-radius: 50%;
border-color: rgb(45, 45, 45);
display: grid;
place-content: center;
color: rgb(45,45,45);
}
.carrousel_btn-avant {
left: 0;
}  
.carrousel_btn-apres {
right: 0;
}  
.caroussel_liste-liens {
display: flex;
justify-content: center;
margin: 0;
padding: 0;
list-style: none;
gap: 1rem;
padding: 10px;
}
figcaption {
text-align: center;
padding: 5px;
}
.carrousel_lien{
color: rgb(216, 255, 137);
display: block;
border-style: solid;
border-radius: 20px;
border-color: rgb(216, 255, 137);
padding: 5px;
}
.carrousel_lien:hover{
color: rgb(45, 45, 45);
display: block;
border-style: solid;
border-radius: 20px;
border-color: rgb(45, 45, 45);
padding: 5px;
background-color: rgb(216, 255, 137);
}
.carrousel_lien, .carrousel_lien:hover{
text-decoration: none;
font-weight: bold;
}
.titrepage{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 300%;
}